# Ignore documentation and assets
docs/
README.md
images/
examples/
LICENSE
CHANGELOG.md

# Ignore GitHub general Files
.github/

# Ignore the local data folder to avoid overwriting it
data/

# Ignore version control
.git/
.gitignore

#Ignore Repomix things
.repomix/
.repomixignore
repomix.config.json
repomix-output*.xml

# Ignore local binaries and CLI source (Docker only needs the broker)
bin/
cmd/tmq/
tmq
tmq.exe

# Ignore tests and Benchmarks to keep the build context clean and optimize cache
internal/tests/
internal/benchmarks/
*_test.go

#Ignore devContainer files
.devcontainer/