# 🍃 TinyMQ Configuration

# The port where the broker will listen
PORT=7800

# Strict Disk Durability. 
# Set to 'true' to force physical disk syncs after every operation (Bank-grade, but slower).
TINYMQ_FSYNC=false

# Auto-Compaction Interval (Garbage Collection). 
# How often the broker rewrites .log files to save disk space.
TINYMQ_COMPACT_INTERVAL=10m