# 🍃 TinyMQ Configuration

# The port where the broker will listen
PORT=7800

# Strict Disk Durability. 
# Set to 'true' to force physical disk syncs after every operation (Bank-grade, but slower).
TINYMQ_FSYNC=false

# Auto-Compaction Interval (Garbage Collection). 
# How often the broker rewrites .log files to save disk space.
TINYMQ_COMPACT_INTERVAL=10m

# Default Queue Eviction Policy when capacity (100,000 msgs) is reached.
# Options: 
#   'reject'      -> Returns HTTP 429 / Error to publisher (Default).
#   'drop-oldest' -> Silently discards the oldest message to accept the new one (Ring Buffer mode).
TINYMQ_DEFAULT_POLICY=reject

# Maximum number of messages held in RAM per topic.
TINYMQ_MAX_MESSAGES=100000

# API Security Token.
# If set, all endpoints will require an 'Authorization: Bearer <token>' header.
# If left empty, the broker will run without authentication (Open access).
TINYMQ_API_KEY=value-here

# Maximum number of unique topics/queues allowed in memory.
# Protects the broker against DoS attacks via unlimited queue creation.
TINYMQ_MAX_TOPICS=10000

# MQTT Protocol Port (Enables MQTT support on this port. Set to empty to disable MQTT).
TINYMQ_MQTT_PORT=1883