#Ignore creds
.env

# Ignore logs inside Data
data/*.log

#Examples
/examples/

#Build
tinymq.exe

#Repomix Archives
.repomix/
.repomixignore
repomix.config.json
repomix-output*.xml

#Local Actions
.github/workflows/local.test.yaml
